nginx/*
!nginx/assets
!nginx/html
nginx/assets/**/*.webp
nginx/assets/**/*.svg

nginx-rtmp-module/*

.env
.env.*
!.env.defaults
.profile.*
!.profile.defaults

dumped/*

.vscode
.vscode/*
.vscode/**

deno.json
deno.lock